<!DOCTYPE html>
<html lang="en">
<head>
  <title>Geolocation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static "geolocation/styles.css"%}">
</head>
<body>
<h1>Django GeoLocation - Get your Location and IP </h1>
<div class="flex">
  <div class="content">
      <h2 align="center">Your IP - {{ data.query}}</h2>
      <!-- <p align="center">{{ data }}</p> -->
      <p align="center">
        <ul>
          <li>Country : {{ data.country }}</li>
          <li>Region : {{ data.regionName }}</li>
          <li>City : {{ data.city }}</li>
          <li>Latitude : {{ data.lat }}</li>
          <li>Longitude : {{ data.lon }}</li>
        </ul>
      </p>
      <hr>
      <h2 align="center">More Details</h2>
      <p align="center">
        <ul>
          <li>Country Code : {{ data.countryCode }}</li>
          <li>Timezone : {{ data.timezone }}</li>
          <li>Zip : {{ data.zip }}</li>
        </ul>
      </p>
  </div>
  <div class="img">

      <img class="main-image" src ="{% static 'geolocation/vector.svg' %}">
  </div>
</div>

</body>
</html>
